/slurm

/results

/plots

/h2o_scratch/__pycache__/

# /h2o_authors/Figs/
# /h2o_authors/h2o_flexgen/
/h2o_author/

/scripts/02_throughput_error_dim.py
/scripts/02_throughput.py
/scripts/03_ablation.py
/scripts/generate_milestone_report.py